*{
    padding: 0;
    margin: 0;
}

.header{
    margin-bottom: 0;
    height: 50px;
    background-color: #333;
    border-radius: 0;
}

.logo img{
    height: 100px;
    margin-top: -40px;
}

.fondo-nav{
    background-color: #333;
}

body{
    background-color: #333;
}
/* Footer */

footer{
    padding: 1em 0;
    text-align: center;
    position: absolute;
    width: 100%;
    color: aliceblue;
}


main{
    width: 100%;
    height: calc(100vh - 80px);
    background:fixed no-repeat url(./img/herrero1.jpg);
    background-size: cover;
    padding: 10px;
}

.call{
    float: right;
    width: 48%;
    margin-right: 80px;
    margin-top: 30px;
    background-color: rgba(51, 51, 51, 0.562);
    height: 25  0px;
    border-radius: 8px;
    transition: padding 0.5s;
    padding: 20px;
    animation-name: Call;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
@keyframes Call{
    0%{
        opacity: 0;
        margin-right: 700px;
    }
}


.call h2{
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    padding: 15px;
    margin-bottom: -15px;
}

.call p{
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 6px;
    color: aliceblue;
    padding: 15px;
}
.call a{
    width: 80px;
    height: 40px;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: #333;
    color: aliceblue;
    text-decoration: none;
}

.call a:hover{
    background-color: rgb(37, 36, 36);
}

/* Servicios */
.servicios h4{
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
    margin-top: 80px;
    font-size: 20px;
}
ul.lista{
    display: grid;
    grid-template-columns: 200px 200px 300px;
    grid-template-rows: 150px;
    justify-content: center;
}
.servicios li{
    color: aliceblue;
    margin: 20px;
    padding: 3px;
}
/* Imagen de Herrero */
.herrero{
    width: 100%;
    height: 600px;
    background:fixed no-repeat url(./img/herrero2.jpg);
    background-size: cover;
    margin-bottom: 40px;
}

/* OPINIONES */
section .opiniones{
    width: 80%;
    height: 450px;
    margin-left: 130px;
    background-color: #333;
}

.opiniones h3{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    font-family: sans-serif;
    color: aliceblue;
}
.opiniones p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: aliceblue;
}

.textarea{
    width: 600px;
    margin: 0 auto;
}

form{
    margin: 0 auto;
    width: 300px;
    margin-bottom: 20px;
}

.opiniones input{
    width: 100px;
    height: 40px;
}
.btn{
    margin: 17px;
    background:transparent;
    padding: 3px;
    color: aliceblue;
    border-radius: 6px;
    border: 1px solid aliceblue;
    margin-bottom: 20px;
    font-family: Calibri;
    font-size: 17px;
    transition: all .5s;
}
.btn:hover{
    background-color: aliceblue;
}


    /* Imagen de otro herrero */
    article{
        width: 100%;
        height: calc(100vh - 80px);
        background:center fixed no-repeat url(./img/herrero3.jpg);
        background-size: cover;
    }
    
    
    /* Agradecimiento */
    .agradecimiento{
        width: 100%;
        height: 200px;
    }
    
    .agradecimiento h1{
        margin-top: 40px;
        text-align: center;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: aliceblue;
    }
    .agradecimiento p{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        margin-top: 30px;
        color: aliceblue;
    }
    .agradecimiento a{
        
        color: aliceblue;
    }

    /* ESTILOS CONTACTO */
    
    h3{
        color: aliceblue;
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .img-carousel{
        width: 100%;
        height: 600px;
    }

    .indicadores li{
        height: 15px;
        width: 30px;
        border-radius: 100%;
    }
